.fixtures {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.6rem;
}

.error {
	font-size: 1.6rem;
	text-align: center;
	color: var(--color-red);
}

@media (min-width: 768px) {
	.fixtures {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 992px) {
	.fixtures {
		grid-template-columns: repeat(3, 1fr);
	}
}
