.leaderboard {
	font-size: 1.3rem;
	width: 100%;
	text-align: center;
	box-shadow: var(--shadow);
}

.leaderboard thead {
	color: var(--color-white);
	background-color: var(--color-emerald);
}

.leaderboard thead th,
.leaderboard tbody td {
	padding: 1.2rem 0.4rem;
}

.leaderboard tbody tr:nth-child(2n) {
	background-color: var(--color-grey);
}
