.fixture {
	position: relative;
	align-self: center;
	padding: 2rem;
	background-color: var(--color-grey);
	box-shadow: var(--shadow);
	border-radius: 8px;
}

.details {
	display: flex;
	margin-bottom: 1.8rem;
}
