.fixture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 198px;
	position: relative;
	padding: 2rem;
	background-color: var(--color-grey);
	box-shadow: var(--shadow);
	border-radius: 8px;
}

.details {
	display: flex;
}
