.container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.action {
	display: flex;
	align-items: center;
	min-height: 84px;
	padding: 1rem;
	background-color: var(--color-grey);
	box-shadow: var(--shadow);
}

.action button,
.action a {
	display: block;
	width: 100%;
	padding: 1.2rem;
	text-align: center;
	border: 0;
	border-radius: 8px;
	font-size: 1.2rem;
	color: var(--color-white);
	background-color: var(--color-emerald);
	box-shadow: var(--shadow);
}

.action input:focus,
.action button:focus,
.action a:focus {
	outline: 2px solid var(--color-darker-emerald);
}

.action button {
	width: 100%;
}

@media (min-width: 768px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 992px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}
